<!doctype html>
<html>
<head>
  <title>Login</title>
  <!-- IMPORTANT: Mobile scaling fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <style>
  </style>
</head>

<body>
  <h1>Academic Task Recommender</h1>
  <p class="helper-text">Ranks your study tasks, based on your habits!</p>
  <div id="loginContainer">
    <h2>Login</h2>

    <input type="text" id="username" placeholder="Username" />
    <input type="password" id="password" placeholder="Password" />

    <button id="loginBtn">Login</button>

    <button id="goToSignupBtn" class="signup-link">
      Don't have an account?
    </button>
  </div>
  <script type="module" src="{{ url_for('static', filename='js/pages/login.js') }}"></script>
</body>
</html>