<!doctype html>
<html>
<head>
  <title>Sign Up</title>

  <!-- IMPORTANT: mobile scaling -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">

</head>

<body>
  <h1>Academic Task Recommender</h1>
  <p class="helper-text">Ranks your study tasks, based on your habits!</p>
  <div class="container">
    <h2>Sign Up</h2>
    <input type="text" id="username" placeholder="Username" />
    <input type="password" id="password" placeholder="Password" />
    <input type="password" id="confirmPassword" placeholder="Confirm Password" />

    <button id="signupBtn" class="create-button">Create Account</button>

    <button id="goToLoginBtn">
      Already have an account? Login
    </button>
  </div>
  <script type="module" src="{{ url_for('static', filename='js/pages/signup.js') }}"></script>
</body>
</html>